body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * 사이드바
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(255, 102, 102, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #f66;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #f66;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * 네비게이션바(상단바)
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(255, 102, 102, 1);
  box-shadow: inset -1px 0 0 rgba(255, 102, 102, 1);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}



/*
 * voca_detail.html
 */
.tr1 {
width: 100%;
display: inline-table;
table-layout: fixed;
}

.table1{
 height:400px; 
}
.tbody1{
  overflow-y: scroll;      
  height: 355px;
  width: 32%;
  position: absolute;
}

.btn-space{
  margin-right: 5px;
}
.bg-color{
  background-color: #FF7A7A;
}
.bg-color2{
  background-color: white;
}
.bg-color3{
  background: linear-gradient( to left, white, pink ); 
}
.bg-color4{
  background: linear-gradient( to top, white, silver ); 
}