<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--커스텀 스타일-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--부트스트랩-->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>EzVoca 로그인</title>
</head>
<!--Custom-->
<body class="background-f99">
{% block content %}
    <div class="global-container">
        <form method="post" class="post-form">
            {{ form.csrf_token }}
         <div class="card login-form">
            <div class="card-body">
                <!--icon 으로 변경할 예정-->
                <h1 class="card-title text-center">EZVOCA</h1>
                <div class="card-text">
                    <form>
                        {% include "form_erroes.html" %}
                        <div class="form-group">
                            <label for="username">아이디</label>
                            <!--이메일 입력 ID: InputEmail1-->
                            <input type="text" class="form-control form-control-sm" name="username" id="username"
                                   value="{{ form.username.data or '' }}">
                        </div>

                        <div class="form-group">
                            <label for="password">패스워드</label>
                            <!--비밀번호 찾기으로 이동하는 곳 href 수정 필요-->
                            <a href="#" class="find-password-style">
                                비밀번호 찾기
                            </a>
                            <!--패스워드 입력 id: InputPassword1-->
                            <input type="password" class="form-control form-control-sm" name="password" id="password"
                                   value="{{ form.password.data or '' }}">
                        </div>

                        <!--로그인 버튼 / onclick 수정필요-->
                        <!--Custom-->
                        <button type="submit" onclick="location.href='#'" class="btn btn-primary btn-block btn-background-f66">
                            로그인
                        </button>

                        <div class="signup">
                            <!--회원가입으로 이동하는 곳 href 수정필요-->
                            계정이 없으신가요? <a href="{{ url_for('auth.register') }}">회원가입</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </form>
    </div>
{% endblock %}
</body>
</html>