<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
     <form method="POST" action="">
         <p>
      <label>아이디</label>
      <input name = "userID" type="text">
         </p>
         <p>
      <label>패스워드</label>
      <input name ="userPW" type="password">
         </p>
         <p>
      <label>닉네임</label>
         <input name ="nickname" type="text">
         <input type = "submit" value="중복확인">
         </p>
         <p>
         <lable>이메일</lable>
         <input name = "email" type="email">
         <br>
               <input type="submit" value="회원가입">
         </p>

     </form>
</body>
</html>