<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
   <style>
      .bd-placeholder-img{
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="index.html">EZVOCA</a>
{% if g.user %}
<ul class="navbar-nav px-3">
	<li class="nav-item text-nowrap">
	<a class="nav-link" href="{{ url_for('auth.logout') }}"> {{ g.user.username }} (로그아웃) </a>
	</li>
</ul>
 {% endif %} </header>



<main>
    <section class="my-5 p-5 text-center container border bg-color">
        <div class = "bg-color">
          <button type="button" class="btn btn-dark float-start btn-space">단어장 이름 :</button>
          <button type="button" class="btn bg-white btn-outline-dark float-start">단어장 이름 2</button>
          <button type="button" class="btn btn-dark">카테고리/태그 :</button>
          <button type="button" class="btn bg-white btn-outline-dark">카테고리/태그</button>
          <button type="button" class="btn btn-danger float-end btn-outline-dark btn-space">단어장 삭제</button>
          <button type="button" class="btn btn-warning float-end btn-outline-dark btn-space">단어장 수정</button>
    <div class="row py-lg-5">
    <div class = "bg-color">
      <div class="col-lg-6 col-md-8 mx-auto">
              <table class="table table-striped bg-white table1">
        <thead>
        <tr class="thead-dark tr1">
            <th>#</th>
            <th>단어</th>
            <th>뜻</th>
        </tr>
        </thead>
        </form>
        <tbody class="tbody1">
     </header>
        {% if question_list %}
        {% for question in question_list %}
        <tr class="tr1">
            <td>{{ loop.index }}</td>
            <td>
                <a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a>
                 {% if question.answer_set|length > 0 %}
                <span class="text-danger small ml-2">{{ question.answer_set|length }}</span>
                {% endif %}
                <!--<a  href="{{ url_for('auth.register') }}">계정생성</a>
                <a  href="{{ url_for('auth.index') }}">로그인</a>
                <a  href="{{ url_for('main.dash') }}">대시보드</a> -->
            </td>
            <td>{{ question.create_date|datetime }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>

       </table>
          <a href="시험링크" class="btn btn-primary my-2 btn-outline-dark text-white">시험</a>
          <a href="단어학습링크" class="btn btn-success my-2 btn-space btn-outline-dark text-white">단어학습</a>
        </div>
      </div>
   </div>
        </div>
    </section>
</main>
  </body>
</html>