<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
   <style>
      .bd-placeholder-img{
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }k
      }
    </style>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<body>

     <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
         <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="index.html">EZVOCA</a>
         {% if g.user %}
            <ul class="navbar-nav px-3">
              <li class="nav-item text-nowrap">
                  <a class="nav-link" href="{{ url_for('auth.logout') }}"> {{ g.user.username }} (로그아웃) </a>
             </li>
            </ul>
          {% endif %}
     </header>
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="../../dash">
              <span data-feather="home"></span>
              홈
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../voca">
              <span data-feather="file-text"></span>
              단어장
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="../list">
              <span data-feather="users"></span>
              모임
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../account">
              <span data-feather="user"></span>
              계정관리
            </a>
          </li>
        </ul>
      </div>
    </nav>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>

        {% if question_list %}
        {% for question in question_list.items %}
        <tr class="text-center">
            <td>{{ loop.index }}</td>
            <td class="text-left">
                <a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a>
                 {% if question.answer_set|length > 0 %}
                <span class="text-danger small ml-2">{{ question.answer_set|length }}</span>
                {% endif %}
                <!--<a  href="{{ url_for('auth.register') }}">계정생성</a>
                <a  href="{{ url_for('auth.index') }}">로그인</a>
                <a  href="{{ url_for('main.dash') }}">대시보드</a> -->
            </td>
            <td>{{ question.user.username }}</td>  <!-- 글쓴이 추가 -->
            <td>{{ question.create_date|datetime }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>

    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if question_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in question_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != question_list.page %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% endif %}
           {% else %}
                <li class="disabled">
                    <a class="page-link" href="#">...</a>
                </li>
           {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if question_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ question_list.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{{ url_for('question.create') }}" class="btn btn-primary">글쓰기</a>
      </div>
      </main>
    </div>
    </div>
</body>
      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='css/dashboard.js') }}"></script>