<!doctype html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
   <style>
      .bd-placeholder-img{
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<body>
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
         <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="{{ url_for('main.dash') }}">EZVOCA</a>
         {% if g.user %}
            <ul class="navbar-nav px-3">
              <li class="nav-item text-nowrap">
                  <a class="nav-link" href="{{ url_for('auth.logout') }}"> {{ g.user.username }} (로그아웃) </a>
             </li>
            </ul>
          {% endif %}
     </header>

<!-- Sidebar -->      

<div class="container-fluid mr-5">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-fixed pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="../dash">
              <span data-feather="home"></span>
              홈
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../voca">
              <span data-feather="file-text"></span>
              단어장
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../question/list">
              <span data-feather="users"></span>
              모임
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../account">
              <span data-feather="user"></span>
              계정관리
            </a>
          </li>
        </ul>
      </div>
    </nav>
    </div>
                 <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <table class="table table-striped">
        <thead>
        <tr class="thead-dark">
            <th>단어장</th>
            <th>단어개수</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                <a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a>
                 {% if question.answer_set|length > 0 %}
                <span class="text-danger small ml-2">{{ question.answer_set|length }}</span>
                {% endif %}
            </td>
            <td>{{ question.create_date|datetime }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>

    </table>
    </main>
    </div>





      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='css/dashboard.js') }}"></script>
</body>
</html>